#chart div {
    padding: 0;
    position: relative;
    text-align:left;
}

#chart path {
	stroke: #fff;
}

#chart path:hover {
	fill: purple;
}

/*#chart text {
    font-size: 16pt;
    font-family: Arial;
}   */

.value text{
	color:white;
	font-size: 10px;
}

#left{
    display: inline-block;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: purple;
}

.axis--x path {
    display: block;
}
