#chart div {
    padding: 0;
    text-align:left;
}

#chart path {
	stroke: #fff;
}

#chart path:hover {
	fill: purple;
}

#left{
    display: inline-block;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: purple;
}

.axis--x path {
    display: block;
}
